.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

button {
  margin: 0.3rem;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 10px;
  background: darkorange;
  color: ivory;
  font-size: 1.125rem;
  cursor: pointer;
}
